
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #17D7A0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #17D7A0;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #17D7A0;
}

p {
  color: #40514E;
  line-height: 2;
}
a {
  color: #17D7A0;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  width: 4%;
  border-style: dotted;
  border-color: #CEE5D0;
  border-width: thick;
  border-bottom: none;
}

.top-container {
  background-color: #C2FFF9;
  position: relative;
  padding-top: 100px;
}

.hello-para {
  width: 40%;
  margin: 0 auto 40px;
}

.middle-container {
 padding-top: 60px;
 background-color: #EDEEF7;
}

.educaion {
  padding-bottom: 15px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.hr-skills {
  margin-bottom: 0;
}

.experience {
  background-color: #E4FBFF;
  padding-bottom: 30px;
  padding-top: 20px;
}

.experience-row {
  position: relative;
}

.exp-heading {
  width: 25%;
  margin-top: 0;
  position: absolute;
  left: 300px;
  float: left;
}

.work-roles {
  width: 30%;
  text-align: left;
  margin: 100px 0 50px 700px;
}

.list {
  line-height: 1;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 10px;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 0 auto 50px;
  text-align: left;

}

.ms-office-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.accounting-app-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hobbies {
padding-bottom: 20px;
}

.contact-me {
  padding: 10px 0 30px;
}

.contact-p {
  margin-bottom: 30px;
}

.footer-link {
  margin: 0 15px;
  color: #11999E;
}

.copyright-text {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
